<main class="container my-5">
  <div class="row">
    <div class="col-6">
      <h1><%= @post.title %></h1>
      <h5>by <%= @user.name %></h5>
    </div>

    <div class="col-6">
      <p class="text-end mt-2">
        Comments: <%= @post.comments_counter %>, Likes: <%= @post.likes_counter %>
      </p>
    </div>

    <div class="col-12">
      <p class="my-4"><%= @post.text %></p>
      <h4>Comments:</h4>
      <div class="d-flex flex-column gap-2">
        <% @post.comments.each do |comment| %>
          <%= render '/comment', comment: %>
        <% end %>
      </div>
      <hr/>
      <div class="d-flex justify-content-center mb-3">
          <%= form_with model: Like.new, url: user_post_likes_path(@user, @post), class: "me-2" do |form| %>
            <div class="d-grid">
              <%= form.submit "Like", class: "btn btn-primary" %>
            </div>
          <% end %>
        <%= link_to('Add New Comment', new_user_post_comment_path(@user, @post), class: 'btn btn-primary btn-custom') %>
      </div>
    </div>
  </div>
</main>
